/* theme custmizations*/
.App {
    color: var(--text-primary);
    background-color: var(--background);
    font-size: large;
    font-weight: bold;
    padding: 20px;
    //height: calc(100vh - 40px);
    transition: all .5s;
  }
 .themebutton {
    color: white;
    background-color:transparent;
    border: 2px white solid;
    float: right;
    transition: all .5s;
    border-radius: 5px;
    position: fixed;
    top: 4%;
    left: 90%;
    z-index: 99;
    font-weight: 600;
    padding-left: 3px;
    padding-right: 3px;

  }
  @media screen and (max-width: 800px){
    .themebutton{
      position: fixed;
      top: 4%;
      left: 88%;
    }
  }

  @media screen and (max-width: 700px){
    .themebutton{
      position: fixed;
      top: 4%;
      left: 80%;
    }
  }
  @media screen and (max-width: 500px){
    .themebutton{
      position: fixed;
      top: 4%;
      left: 80%;
    }
  }
  @media screen and (max-width: 400px){
    .themebutton{
      position: fixed;
      top: 4%;
      left: 80%;
    }
  }
  @media screen and (max-width: 360px){
    .themebutton{
      position: fixed;
      top: 4%;
      left: 80%;
    }
  }
  @media screen and (max-width: 280px){
    .themebutton{
      position: fixed;
      top: 4%;
      left: 42%;
    }
  }
  button:hover{
    background-color: var(--theme);
    color: white;
    border: 2px solid;
    transition: 1s;
    cursor: pointer;
    font-size: large;
  }
  button .BsSun{
    animation: rotate 4s ease-in-out infinite;
     
  }
  @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

  .BsSun{
    font-size: 1rem;
    font-weight: 700;
  }



  #services{
   color: var( --text-primary);
  background-color: var(--backgrounds);
  transition: all 1s;
   }
 .main__title h2{
  color: var(--accent);
 }
 


 #testimonials{
  color: var( --text-primary);
  background-color: var(--backgrounds);
  transition: all 1s;
 }


 #contact{
  color: var( --text-primary);
  background-color: var(--backgrounds);
  transition: all 1s;
 }
